@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Luciole';
  src: url('path-to-your-font/Luciole-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.font-luciole {
  font-family: 'Luciole';
}